:root {
    --mainBlue: #40acf1;
    --transparentBlue: rgba(64, 172, 241,0.7);
    --mainWhite: #FFFFFF;
    --mainBlack: #292F36;
    --mainGrey: rgb(216, 214, 214);
    --mainYellow: #e3b505;
}
*,::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  
}
/* title of sections */
.title-of-sections{
  background-color: var(--transparentBlue);
  color: var(--mainWhite);
  clip-path: polygon(10% 0,100% 0,90% 100%,0 100%);
  padding: .5rem 2rem;
}
/* header */
.header{
  font-family: Roboto , sans-serif;
}
.search-bar-input{
  border: none;
  border-bottom: 2px solid var(--mainBlack);
  border-radius: 0;
  transition: all .5s ease-in-out;
}

.search-bar-input:focus{ 
  border: none;
  box-shadow: none;
  box-shadow: 0 4px 0 0 var(--mainBlack);
}
.navbar-nav{
  list-style: none;
}
.nav-link{
  color: var(--mainBlack);
  text-decoration: none;
  font-size: 1.3rem;
}
.nav-link:hover{
  color: var(--mainBlue);
}
.logo{
  
}
.collapsing{
  
}
/* banner */
.banner{
  clip-path: polygon(50% 100%, 100% 95%, 100% 0%, 0% 0%, 0% 95%);
  overflow: hidden;
  color: var(--mainWhite);
}
.banner-height{
  min-height: calc(100vh - 76px);
  background: url(../img/headerBcg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* color: gold; */
  color: var(--mainWhite);
  animation-name: zoom;
  animation-duration: 20s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
@keyframes zoom {

  0%{
    transform: scale(1);
  }
  50%{
    transform: translateX(-5%) scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
.b-title{
  font-size: 1.25rem;
  border-left: .3rem solid var(--mainBlue);
}
.title{
  font-size: 1.9rem;
  font-weight: 700;
}
@media screen and (min-width: 768px){
  .title{
    font-size: 3rem;
  }
}
.sub-title{
  font-size: 1.75rem;
}
.p-title{
  font-size: 1rem;
}
.price-title{
  font-size: 2rem;
}
.icon-title{
  color: var(--mainBlue);
  text-decoration: none !important;
}
.icon-title:hover{
  color: var(--mainBlue);
  opacity: .6;
}

/* skills */
.skills-icon{
  background-color: var(--mainGrey);
  color: var(--mainYellow);
  font-size: 3rem;
}
.skills-icon:hover{
  color: var(--mainYellow);
}
.blue-seprator-line{
  width: 4rem;
  height: .3rem;
  background-color: var(--mainBlue);
  /* margin: 1rem auto; */
}
/* inventory */
.inventory{
  background-color: var(--mainGrey);
}
.my-card{
  border-radius: none !important;
}
.my-card-img{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.car-price{
  background-color: var(--mainBlue);
  color: var(--mainWhite);
  clip-path: polygon(15% 0%, 85% 0%, 100% 100%, 0% 100%);
  transition: all 1s linear;
  cursor: pointer;
}
.car-price:hover{
  clip-path: polygon(0px 0px, 100% 0%, 100% 100%, 0% 100%);
}
/* question */
.question{
  background: url(../img/questionBcg.jpeg) center/cover fixed no-repeat;
}
.question-gray{
  background: rgba(79,109,122,0.75);
}
.question-yellow{
  background: rgba(277,181,5,0.75);
}
.question-icon{
  font-size: 4rem;
  text-decoration: none;
  color: var(--mainBlue);
  transition: all .5s ease-in-out;
}
.question-icon:hover{
  color: var(--mainBlue);
  transform: translateY(-10%);
}
.question-text-info{
  color: var(--mainWhite);
}
/* featured */
.featured{
  background: var(--mainGrey);
}
.featured-item{
  background-color: var(--mainWhite);
  border-radius: .5rem;
  opacity: .5;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.featured-item:hover{
  transform: scale(1.05);
  opacity: 1;
}
.featured-icon{
  color: var(--mainYellow);
  font-size: 1.5rem;
  text-decoration: none;
}
.featured-icon:hover{
  color: var(--mainYellow);
}
.img-container{
  background: var(--mainBlue);
  position: relative;
  overflow: hidden;
}
.featured-photo{
  transition: all 1s ease-in-out;
  opacity: 1;
}
.img-container:hover .featured-photo{
  transform: scale(1.3);
  opacity: .5;
}
.featured-photo-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-decoration: none;
  font-size: 3rem;
  color: var(--mainBlack);
  opacity: 0;
  transition: all 1s ease-in-out;
}
.img-container:hover .featured-photo-icon{
  opacity: 1;
}
.featured-photo-icon:hover{
  color: var(--mainWhite);
}
/* gallery */
.gallery-item{
  background: var(--mainYellow);
  position: relative;
}
.gallery-img{
  transition: all 1s ease-in-out;
}
.gallery-item:hover .gallery-img{
  opacity: .5;
}
.gallery-item::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: .5rem solid var(--mainWhite);
  outline-offset: -2rem;
  transform: scale(0);
  transition: all 1s ease-in-out;
}
.gallery-item:hover::after{
  transform: scale(1);
}
/* contact */
.contact{
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(../img/headerBcg.jpeg) center/cover fixed no-repeat;
}
.contact-input{
  background: transparent;
  border: 2px solid var(--mainYellow);
  font-size: 1.5rem;
  outline: none;
  color: var(--mainYellow) !important;
  padding: 35px 15px !important;
}
.contact-input::placeholder{
  color: var(--mainYellow);
  font-size: 1.5rem;
  background: transparent;
}
.contact-input:focus{
  color: var(--mainYellow);
  background: transparent;
  border: 2px solid var(--mainYellow);
  outline: none;
  box-shadow: none;
}
.contact-btn:hover{
  color: var(--mainWhite);
}

/* services */
.services{
  position: relative;
  min-width: 95vw;
  min-height: 85vh;
  margin: 0 auto;
  clip-path: polygon(0 10%,100% 0,100% 90%,0 100%);
}
.video-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}
.video-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--transparentBlue);
  z-index: -2;
}
.service-icon{
  font-size: 4rem;
  color: var(--mainYellow);
}
.service{
  background: var(--mainBlack);
  color: var(--mainWhite);
  transition: all 1s ease-in-out;
}
.service:hover{
  background: var(--mainWhite);
  color: var(--mainBlack);
  padding-left: 2.2rem !important;
}
/* quote */
.customer-body{
  margin-top: -4rem;
}
.customer-img{
  border: .5rem solid var(--mainWhite);
}
.customer-name{
  color: var(--mainBlue);
  margin: .5rem;
}
.customer-job{
  color: var(--mainGrey);
}
.customer-quote{
  color: var(--mainGrey);
  width: 90%;
}
.customer-icon{
  font-size: 2rem;
  color: var(--mainGrey);
}
/* footer */
.footer{
  background: var(--mainBlack);
}
.footer-icon{
  color: var(--mainYellow);
  text-decoration: noen;
  font-size: 1.5rem;
  transition: all 1s ease-in-out;
}
.footer-icon:hover{
  color: var(--mainBlue);
}